@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.about-banner {
    height: 500px;
    background: linear-gradient(0deg, #3E7B27 1%, transparent 10%),
                url('/src/resources/banner_about.jpg') no-repeat top center;
    background-size: cover;
}

.about-content {
    margin-top: 0px;
}

.divider {
    font-size: 50px;
    font-family: 'Varela Round';
    text-align: center;
    margin: 0px;
    padding-top: 20px;
}

.text-block-about {
    margin-inline: 4%;
    padding-top: 20px;
    margin-bottom: 100px;
    text-align: justify;
    font-size: 20px;
}

.text-block p{
    margin-top: 0px;
}

.text-block p, .timeline p {
    font-family: 'Inter';
}

.timeline {
    position: relative;
    width: fit-content;
    margin-inline: auto;
    font-size: 20px;
}

/*vertical line*/
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #537D5D;
    top: 0px;
    bottom: 30px;
    left: 7px;
}

.timeline-p {
    position: relative;
    left: 50px;
    width: fit-content;
    margin-bottom: 30px;
}

/*dots*/
.timeline-p::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #D2D0A0;
    border: 5px solid #73946B;
    left: -50px;
    top: 1px;
    border-radius: 50%;
    z-index: 1;
}

/*arrows*/
.timeline-p::before {
    content: " ";
    position: absolute;
    width: 5px;
    top: 5px;
    left: -30px;
    border: medium solid #73946B;
    border-width: 5px 15px 5px 0;
    border-color: transparent #73946B transparent transparent;
}