.animals-banner {
    background: linear-gradient(0deg, #fffcde 5%, transparent 50%), url('/src/resources/banner2.jpg') no-repeat top center;
}

.animals-text {
    margin-top: 0;
    margin-inline: auto;
    padding-top: 40px;
    width: 700px;
    text-align: center;
}

.animal-list {
    margin-bottom: 30px;
    margin-inline: auto;
    height: 400px;
    max-width: 1000px;
    background-color: white;
}

.animal-desc {
    margin-inline: auto;
    min-height: 400px;
    max-width: 1000px;
    background-color: white;
    border-radius: 15px;
}

.animal-desc p {
    font-size: 20px;
}

.animal-desc h6 {
    text-align: center;
    vertical-align: middle;
    line-height: 400px;
    font-style: italic;
    font-size: larger;
    color: gray;
    user-select: none;
}

.animal-desc-table {
    display: flex;
    padding-block: 10px;
    min-height: 400px;
}

.animal-desc img {
    height: 400px;
    max-width: 300px;
    border-radius: 20px;
}

.animal-image {
    flex: 1;
    width: fit-content;
    margin-inline: 10px;
    align-self: center;
}

@media (max-width: 800px) {
    .animal-desc-table {
        flex-direction: column;
    }

    .animal-image {
        margin-top: 20px;
    }
}

.profile-grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: auto;
    column-width: 150px;
    row-gap: 40px;
    padding-block: 20px;
    padding-inline: 50px;
    border-bottom: 2px solid gray;
}

.profile-element{
    display: flex;
    align-items: center;
    padding: 0px;
    list-style-type: none;
    height: fit-content;
    margin: 0px;
}

.profile-icon svg {
    margin-right: 20px;
    height: 50px;
    width: auto;
    color:black;
}

.profile-info h5 {
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
}

.profile-info h4 {
    margin: 0px;
    font-size: 30px;
    font-weight: 400;
}

.AddButton{
    float: right;
    cursor: pointer;
    padding-block: 10px;
    padding-inline: 15px;
    margin-top: -5px;
    color: bisque;
    background-color: #173518;
    border-radius: 5px;
}

.AddButton:hover {
    color: #173518;
    background-color: bisque;
    transition: 0.5s;
}

.FeedButton{
    float: right;
    cursor: pointer;
    padding-block: 5px;
    padding-inline: 10px;
    margin-top: 5px;
    color: bisque;
    background-color: #173518;
    border-radius: 5px;
}

.FeedButton:hover {
    color: #173518;
    background-color: bisque;
    transition: 0.5s;
}