.animals-banner {
    background: linear-gradient(0deg, #fffcde 5%, transparent 50%), url('/src/resources/banner2.jpg') no-repeat top center;
}

.title {
    padding-block: 20px;
    margin-top: 0px;
}

.animal-list {
    margin-bottom: 30px;
    margin-inline: auto;
    height: 400px;
    max-width: 800px;
    background-color: white;
}

.animal-desc {
    margin-inline: auto;
    padding-inline: 50px;
    min-height: 400px;
    max-width: 700px;
    background-color: white;
}

.animal-desc p {
    font-size: 20px;
}

.animal-desc h6 {
    text-align: center;
    vertical-align: middle;
    line-height: 400px;
    font-style: italic;
    font-size: larger;
    color: gray;
    user-select: none;
}

.profile-grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: auto;
    column-width: 300px;
    row-gap: 40px;
    padding-block: 20px;
    padding-inline: 50px;
    border-bottom: 2px solid gray;
}

.profile-element{
    display: flex;
    align-items: center;
    padding: 0px;
    list-style-type: none;
    height: fit-content;
    margin: 0px;
}

.profile-pic svg {
    margin-right: 20px;
    height: 50px;
    width: auto;
    color:black;
}

.profile-info h5 {
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
}

.profile-info h4 {
    margin: 0px;
    font-size: 30px;
    font-weight: 400;
}

.AddButton{
    border-radius: 8px;
    border: 2px solid green;
    font-size: 14px;
    font-weight: bold;
    color: green;
    transition-duration: 0.3s;
    float: right;
}

button:hover.AddButton{
    cursor: pointer;
    background-color: green;
    color: white;
}