.home-banner {
    background: linear-gradient(0deg, #fffcde 5%, transparent 50%), url('/src/resources/banner2.jpg') no-repeat top center;
}

.home-welcome {
    margin-block: 50px;
}

.home-welcome h1 {
    margin-block: 0px;
    text-align: center;
    font-size: 50px;
    font-family: 'Varela Round';
}

.home-welcome p {
    margin-block: 0px;
    font-size: 20px;
    text-align: center;
    margin-inline: 30px;
}


.infoCards {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: fit-content;
    margin-inline: auto;
}

@media (max-width: 900px) {
    .infoCards {
        grid-template-columns: 100%;
        grid-template-areas: "a" "b" "c";
        row-gap: 30px;
        justify-self: center;
    }
}


.newsCards-header {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.newsCards-header h2 {
    align-self: flex-start;
    margin: 0%;
    margin-right: auto;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Varela Round';
}

.newsCards-header button {
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    padding-block: 6px;
    padding-inline: 10px;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
}

.newsCards-header button:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}

.newsCards-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

@media (max-width: 900px) {
    .newsCards-content {
        grid-template-columns: 100%;
        grid-template-areas: "a" "b" "c";
        row-gap: 30px;
        justify-self: center;
    }
}