@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.page {
    min-height: 100vh;
    background-color: #fffcde;
}

.banner {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    color: white;
    font-size: 100px;
    font-family: 'Varela Round';
    padding-bottom: 200px;
}

.content {
    margin-inline: 15vw;
    margin-top: -330px;
    margin-bottom: 5vh;
    padding-inline: 30px;
    padding-bottom: 5vh;
    background-color: #fffcde;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

@media (max-width: 1200px) {
    .content {
        transition: 0.4s;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        margin-inline: 0px;
    }
}

