.welcome-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    align-items: center;
    background: linear-gradient(80deg, #173518 40%, transparent 45%), 
                url('/src/resources/welcome_bg.jpg') no-repeat center center;
    background-size: cover;
}

.welcome-content {
    width: 30vw;
    padding-left: 3vw;
    text-align: center;
    color: white;
}

.welcome-btn {
    padding: '10px 20px';
    font-size: 16px;
}