.login-btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    border: none;
    background-color: #173518;
    color: #0f220f;
}

.login-btn:hover {
    background-color: white;
    cursor: pointer;
}