.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 100px;
    border: 1px solid #123524;
    color: #EFE3C2;
    background-color: #0e4b18;
    cursor: pointer;
    box-shadow: 2px 2px #123524;
}

.scroll-top:hover {
    transition: 0.3s;
    background-color: #123524;
}