.scroll-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 100px;
    border: solid 2px darkgreen;
    font-size: 40px;
    color: bisque;
    background-color: green;
    cursor: pointer;
    transition: 0.3s;
}

.scroll-top:hover {
    background-color: darkgreen;
}