.zoo-map {
    position: relative;
    width: fit-content;
    margin-inline: auto;
}

.zoo-map img{
    width: 850px;
    max-height: auto;
    z-index: 0;
    user-select: none;
    border-radius: 20px;
}

.pin {
    height: 40px;
    width: auto;
    z-index: 2;
    position: absolute;
    color: red;
    cursor: pointer;
    transition: 0.4s;
}

.pin:hover {
    transform: scale(1.2);
}

.pin:active {
    transform: scale(1.2);
    color: darkred;
    transition: 0s;
}

.pin-buttons {
    cursor: pointer;
    padding-block: 10px;
    padding-inline: 15px;
    margin-top: -4px;
    color: #EFE3C2;
    background-color: #0e4b18;
}

.pin-buttons:hover {
    color: #123524;
    background-color: #EFE3C2;
    transition: 0.5s;
}

.add-pin {
    border-bottom-left-radius: 5px;
    margin-left: 20px;
}

.add-photo-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.add-photo-btn p {
    margin: 0px;
    margin-left: 20px;
}
    
.delete-pin {
    border-bottom-right-radius: 5px;
}
